{% load i18n %}
{% load static %}

{% load navigation_tags %}
{% load smart_settings_tags %}
{% load views_tags %}

<script src="{% static 'appearance/node_modules/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/select2/dist/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/node_modules/jquery-form/dist/jquery.form.min.js' %}" type="text/javascript"></script>

<script src="{% static 'appearance/js/mayan_app.js' %}" type="text/javascript"></script>
<script src="{% static 'appearance/js/partial_navigation.js' %}" type="text/javascript"></script>

<script src="{% url 'locales:javascript_catalog' 'mayan.apps.appearance' %}" type="text/javascript"></script>

<script id="template-appearance-form-element-content-copy" type="text/x-template">
    <div class="float-end">
        <button type="button" class="btn btn-primary btn-sm py-0 appearance-btn-form-label-suffix appearance-btn-copy" data-bs-original-title="{% trans 'Copy content to clipboard' %}">{% trans 'Copy' %}</button>
    </div>
</script>

<script>
    'use strict';

    {% smart_setting "APPEARANCE_MENU_POLLING_INTERVAL" as appearance_menu_polling_interval %}
    {% smart_setting "APPEARANCE_THROTTLING_MAXIMUM_REQUESTS" as appearance_throttling_maximum_requests %}
    {% smart_setting "APPEARANCE_THROTTLING_TIMEOUT" as appearance_throttling_timeout %}
    {% smart_setting "COMMON_HOME_VIEW" as common_home_view %}
    {% trans "Page number must be a positive integer." as page_number_invalid_message %}

    
    
    const appearanceAppConfig = {
        debug: {% if debug %}true{% else %}false{% endif %},
        headerNames: {% views_get_header_names %},
        homeURL: '{% url common_home_view %}',
        menuMainURL: '{% url "rest_api:template-detail" "menu_main" %}',
        menuPollingInterval: {% if appearance_menu_polling_interval %}{{ appearance_menu_polling_interval }}{% else %}null{% endif %},
        menuTopbarURL: '{% url "rest_api:template-detail" "menu_topbar" %}',
        messagePosition: '{% smart_setting "APPEARANCE_MESSAGE_POSITION" %}',
        modalFragmentLinkClass: '{% navigation_get_modal_link_class %}',
        pageNumberInvalidMessage: '{{ page_number_invalid_message|escapejs }}',
        throttlingMaximumRequests: {{ appearance_throttling_maximum_requests }},
        throttlingMessage: gettext('Too many pending requests. Additional requests will be blocked until a pending one is completed or after the cooling off period ends.'),
        throttlingTimeout: {{ appearance_throttling_timeout }}
    };
</script>

<script src="{% static 'appearance/js/appearance_app.js' %}" type="text/javascript"></script>
