{% extends 'appearance/base_plain.html' %}

{% load i18n %}
{% load static %}

{% load common_tags %}
{% load icons_tags %}

{% block base_title %}{% trans 'Password reset' %}{% endblock %}

{% block project_name %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h2 class="mayan-h2">{% trans 'Set a new password' %}</h2>
                    <hr>

                    {% if validlink %}
                        <p class="text-body-secondary">{% trans 'Enter a new password for your account.' %}</p>

                        <div class="content login">
                            <form action="." class="form login" method="post">
                                {% csrf_token %}
                                {% include 'appearance/partials/form/body.html' %}
                                <input type="hidden" name="next" value="{{ next|escape }}" />

                                <div class="d-grid mt-4">
                                    <button class="btn btn-primary" name="{% if form.prefix %}{{ form.prefix }}-submit{% else %}submit{% endif %}" type="submit">{% icons_get_icon 'mayan.apps.views.icons.icon_confirm_form_submit' %} {% trans 'Confirm' %}</button>
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            {% trans 'The password reset link is invalid, possibly because it has already been used. Please request a new password reset.' %}
                        </div>

                        <div class="d-grid">
                            <a class="btn btn-primary" href="{% url 'authentication:password_reset_view' %}">{% trans 'Request a new password reset' %}</a>
                        </div>
                    {% endif %}

                    <hr>

                    <div class="text-center">
                        <a href="{% url 'authentication:login_view' %}">{% trans 'Return to login' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
