{% load i18n %}

{% load common_tags %}

{% common_project_information '__title__' as project_title %}

{% if autoadmin_properties.account %}
    <div class="row justify-content-center">
        <div class="col-10 col-sm-8 col-md-8 col-lg-5">
            <br>
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">
                    <h5 class="text-center mb-0">{% trans 'Automatic credentials' %}</h5>
                </div>
                <div class="card-body">
                    <div class="content login">
                        <p class="text-center">{% blocktrans %}You have just finished installing <strong>{{ project_title }}</strong>, congratulations!{% endblocktrans %}</p>
                        <p class="text-center">{% trans 'Login using the following credentials:' %}</p>
                        <p class="text-center">
                            {% blocktrans with autoadmin_properties.account as account %}Username: <strong>{{ account }}</strong>{% endblocktrans %}<br>
                            {% blocktrans with autoadmin_properties.account.email as email %}Email: <strong>{{ email }}</strong>{% endblocktrans %}<br>
                            {% blocktrans with autoadmin_properties.password as password %}Password: <strong>{{ password }}</strong>{% endblocktrans %}
                        </p>
                        <p class="text-center">{% trans 'Be sure to change the password to increase security and to disable this message.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
