{% load i18n %}

{% load appearance_tags %}
{% load icons_tags %}
{% load search_tags %}
{% load smart_settings_tags %}
{% load views_tags %}

{% appearance_app_template_cache_disable %}

{% smart_setting global_name="VIEWS_PAGING_ARGUMENT" as views_paging_argument %}
{% search_get_filter_prefix as search_filter_prefix %}
{% views_get_query_field_list exclude_name_list=views_paging_argument exclude_prefix_list=search_filter_prefix as query_field_list %}

{% icons_get_icon "mayan.apps.dynamic_search.icons.icon_search_form_clear" extra_context__html_data__class="appearance-input-search-clear" as icon_search_form_clear %}

{% if not search_disable_list_filtering and search_model %}
    <form action="" class="mayan-toolbar-search-filter" id="search-form-filter" method="get" role="search">
        
        
        <input class="form-control" id="search-filter-page" name="{{ views_paging_argument }}" type="hidden" value="1">
        
        
        
        {% for query_field in query_field_list %}
            <input name="{{ query_field.name }}" type="hidden" value="{{ query_field.value }}">
        {% endfor %}
        <span class="input-group input-group-sm w-auto appearance-input-search-clearable">
            <input class="form-control mayan-toolbar-search-input" data-submit-on-clear="true" id="search-filter-input-terms" name="{% search_get_filter_prefix %}{% search_get_query_parameter_any_field %}" placeholder="{% trans 'Filter terms' %}" type="search" value="{% search_get_query_any_field_value query=filter_query %}">
            {{ icon_search_form_clear }}
        </span>
    </form>
{% endif %}
